
section {
  margin-top: 2rem;
  text-align: center;
}


.beneficios,
.recipes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}


.beneficio,
.recipe {
  background-color: #e7f7e7;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  width: 30rem;
  max-width: 100%;
  text-align: center;
}

.recipe-img {
  max-width: 100%;
  height: auto;
}


.testimonios {
  background-color: #eee;
  padding: 3rem 2rem;
  text-align: center;
  margin: 1rem;
}

.testimonio {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}


@media (max-width: 1024px) {
  .beneficio,
  .recipe {
    width: 45%; /
  }
}

@media (max-width: 768px) {
  .beneficio,
  .recipe {
    width: 100%; 
    padding: 1.5rem;
  }

  .beneficios,
  .recipes {
    gap: 0.8rem;
  }

  .testimonios {
    padding: 2rem 1rem;
  }
}

